@model IEnumerable<AD_DB_Project.Models.WorkerUnion>

@{
    ViewData["Title"] = "Unions";
}

<h1 class="text-center">Unions</h1>

<p class="text-right">
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UMembership)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UPresidentNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UMembership)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UPresidentNavigation.Trn)
            </td>
            <td class="btn-group">
                <a asp-action="Edit" asp-route-id="@item.UMembership" class="btn btn-primary">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.UMembership" class="btn btn-info">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.UMembership" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
